.modal-content{
    max-width: 60%;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.modal-button{
    width: 100%;
}
.wrapper{
    display: flex;
    gap: 5vw;
    text-align: center;
    align-items: center;
    width: 100%;
}
.wrapper img{
    border-radius: 100%;
}
.wrapper div{
    display: flex;
    flex-direction: column;
    text-align: left;
}